<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- 应用程序的可执行文件名 -->
	<key>CFBundleExecutable</key>
	<string></string>
    
    <!-- 应用程序的唯一标识符 -->
	<key>CFBundleIdentifier</key>
	<string></string>
    
    <!-- 是否支持自动终止 -->
    <key>NSSupportsAutomaticTermination</key>
    <true/>
    
    <!-- 是否支持突然终止 -->
    <key>NSSupportsSuddenTermination</key>
    <true/>
    
    <!-- 是否支持窗口恢复 -->
    <key>NSWindowRestoration</key>
    <false/>
    
    <!-- 退出时是否保留窗口 -->
    <key>NSQuitAlwaysKeepsWindows</key>
    <false/>
</dict>
</plist>
